name: Merge Conflict Check

on:
  pull_request:
    branches:
      - main
      - staging

jobs:
  merge_conflict_check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Merge Conflict Check
        run: |
          chmod +x merge_conflict_check.sh
          ./merge_conflict_check.sh

      - name: Send Slack Notification
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        with:
          status: 'failure'
          fields: 'branch,commit,message'
          message: |
            Merge conflict detected in a pull request!
            Branch: ${{ github.ref }}
            Commit: ${{ github.sha }}
            Message: ${{ github.event.pull_request.title }}
